@model ML.Customers
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3><strong>@ViewBag.Titulo</strong></h3>
            <h5>Fill out all the data in their corresponding fields.</h5>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm("Form", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Action)
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.CustomerId, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.ContactTitle, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.ContactTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactTitle)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Region, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Region, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Region)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Country)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@ViewBag.Accion" class="btn btn-success" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Go back", "GetAll", "Customers", htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-2">
            </div>
        </div>
    }
</div>